# Mi first project using jupyter notebook !

## Introduction

### Data science languages 


#### Python
#### R
#### Scala
#### Go
#### Javascript
#### C++
#### Matlab

### Libraries for Data Science in Python and R

##### Python

##### Tensor Flow
##### Pandas
##### SciPy
##### Matplotlib
##### NumPy.
##### Keras
##### Scikit-Learn
##### Pytorch

#### R

##### readr
##### stringr
##### ggplot2
##### lubridate
##### jsonlite
##### tydir
##### tydiverse
##### shiny

### Main tools for Data Science

##### Hadoop
##### SaS
##### Tableau
##### Tensorflow
##### DataRobot
##### BigMl
##### Apache Spark
##### RapidMiner
##### PyCharm
##### Spyder
##### Git

In [5]:
# Examples about arithmetic expressions

a = 5
b = 10

print(a-b)
print(a+b)
print(a*b)
print(a/b)
print(a**b)

-5
15
50
0.5
9765625

In [6]:
# Example 8 

a = int(input( "insert the first number: "))
b = int(input( "insert the second number: "))

print(a*b)
print(a+b)

insert the first number: 10
insert the second number: 15
150
25

In [14]:
# Excercise 9 

minutes_to_hour = 1/60

insert_minutes = int(input("Insert the minutes for convert to hours: "))

print(round(insert_minutes * minutes_to_hour,2))

Insert the minutes for convert to hours: 20
0.33

## Objectives

### I think main objectives are the following: 
#### * Practice code in python using jupyter.
#### * Using markdown, code and math operations using python.

## Author

#### Gustavo Adolfo Reyes Medina